.draggable-container{
   
    display: flex;
    flex-wrap: wrap;
    width: 156px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    

}
.drop{
    width: 50px;
    height: 60px;
    background-color: white;
    border: 1px dashed rgb(63, 61, 61); 
   
}
.droppable-container{
 
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
   

}
.drag{
    width: 50px;
    height: 60px;
    background-color: rgb(181, 247, 243);
    border: 1px dashed rgb(63, 61, 61);
    cursor: move;
   
}